cache
__pycache*
*.svg

benchmark/results
case_study/figures
log
models
simulations/full_simulations/figures
simulations/semi_simulations/figures

debug.log
run_*
!run_extract_stats.sh
!run_gridsearch.sh
!run_hedest.sh
!run_hovernet.sh
!run_mask.sh
!run_moco_ssl.sh

!external/hovernet/models
!external/mhast/run_semisim.sh
!external/mhast/run_sim.sh

slurm*
