cache
__pycache*
*.svg

benchmark/results
hedest/pp_adjust_naive.py
log
models
debug.log
run_real.sh
run_semi*
run_sim*
run_hovernet_tiles.sh

!external/hovernet/models
!external/mhast/run_semisim.sh
!external/mhast/run_sim.sh
